<launch>

   <node  name="mpuAngles" pkg="rosserial_python" type="rosserial_node.py">
   <param name="port"       type="string"           value="/dev/ttyACM0" />
   <param name="baud"       type="int"              value="9600"
   </node>

   <node name="rqt_plot"    pkg="rqt_plot"          type="rqt_plot"   args="/YAW_ANGLE" />

</launch>
